[submodule "third_party/boost-outcome"]
	path = third_party/boost-outcome
	url = https://github.com/ned14/boost-outcome
[submodule "half"]
	path = third_party/half
	url = https://github.com/Melown/half.git
[submodule "github-clang-format"]
	path = github-clang-format
	url = https://github.com/isuruf/github-clang-format
